.navbar {
  display: flex;
  margin: auto;

  gap: 4%;
  background-color: white;
  padding: 10px;
}

.navbar a {
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  font-weight: 900;
}

.right-border {
  border-right-color: white !important;
}

.navbar p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  margin: auto;
  padding-top: 20px;
}
