.navbar {
  display: flex;
  justify-content: space-evenly;

  background-color: gray;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .navbar,
  .navbar a {
    flex-direction: column;
    padding-left: 100px;
  }
}
