@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .navbar {
    gap: 1%;
  }
  .book-box {
    width: 100%;
    min-height: 150px;
    margin-top: 0;
    margin-bottom: 75px;
  }
  .book-title {
    margin-left: 5px;
  }
  .book-title h1 {
    font-size: 13px;
  }
  .book-title h4 {
    font-size: 10px;
  }
  .book-backside-info p {
    font-size: 7.5px;
  }
  .navbar p {
    font-size: 9px;
  }
  .book-reading-difficulty-parent {
    bottom: -7%;
  }
}
@media (max-width: 1023px) and (min-width: 425px) {
  .container {
    max-width: 90%;
  }
  .book-box {
    width: 43%;
    min-height: 150px;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 75px;
  }
  .book-title {
    margin-left: 5px;
  }
  .book-title h1 {
    font-size: 13px;
  }
  .book-title h4 {
    font-size: 10px;
  }
  .book-backside-info p {
    font-size: 9px;
  }
  .navbar p {
    font-size: 9px;
  }
  .book-reading-difficulty-parent {
    bottom: -7.3%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }

  .book-backside-info p {
    font-size: 10.5px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1401px) {
  .container {
    max-width: 1350px;
  }
}
@media (max-width: 1401px) {
  .buttons2 {
    scale: 0.8;
    gap: 20px;
    margin-bottom: -5px;
  }
  .book-reading-difficulty {
    margin-left: 80%;
    margin-top: 55%;
  }
}
@media (max-width: 1201px) {
  .buttons2 {
    scale: 0.65;
    gap: 20px;
    margin-bottom: -5px;
  }
  .book-reading-difficulty {
    margin-top: 65%;
  }
}
@media (max-width: 1025px) {
  .buttons2 {
    scale: 0.6;
    gap: 20px;
    margin-bottom: -10px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
}
button {
  font-family: inherit;
}
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
