* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
}
button {
  font-family: inherit;
}
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
.container div {
  justify-content: center;
}
.container-navbar {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 375px) {
  .book-box {
    min-height: 170px !important;
  }
  .container {
    max-width: 90%;
  }
  .book-backside-info p {
    -webkit-line-clamp: 7 !important;
  }
}
@media (max-width: 768px) {
  .book-box {
    width: 100% !important;
  }
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  .book-box {
    width: 60%;
  }
  .container {
    max-width: 90%;
  }
  .navbar {
    gap: 1%;
  }
}

@media (max-width: 1400px) and (min-width: 1025px) {
  .book-box {
    width: 48%;
  }
  .books-flex {
    gap: 3%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1401px) {
  .container {
    max-width: 1350px;
  }
}
